<br />

[![logo](https://github.com/keithboice/kb_template_github/blob/main/_hero.png?raw=true)](https://raw.githubusercontent.com/keithboice/.github/docs/assets/logo.png)

<br />

<br />

<p align="center">

![GitHub release (latest SemVer)](https://img.shields.io/github/v/release/keithboice/{{>name}}?sort=semver&style=for-the-badge)
![GitHub Workflow Status](https://img.shields.io/github/workflow/status/keithboice/kb/ci?style=for-the-badge)
![nycrc config on GitHub](https://img.shields.io/nycrc/keithboice/{{>name}}?config=.nycrc&preferredThreshold=branches&style=for-the-badge)
![GitHub issues](https://img.shields.io/github/issues-raw/keithboice/{{>name}}?style=for-the-badge)
![GitHub](https://img.shields.io/badge/license-MIT-red.svg?style=for-the-badge&logo=Open%20source%20initiative&logoColor=757575)

</p>


<p align="center">

[![code style: prettier](https://img.shields.io/badge/code_style-prettier-c2185b.svg?style=for-the-badge)](https://github.com/prettier/prettier)
[![Commitizen friendly](https://img.shields.io/badge/uses-commitizen-7b1fa2.svg?style=for-the-badge)](http://commitizen.github.io/cz-cli/)
[![Semver friendly](https://img.shields.io/badge/uses-semver-303f9f.svg?style=for-the-badge)](https://github.com/semver/semver)
[![Made with JSDoc](https://img.shields.io/badge/uses-tbd-0277bd.svg?style=for-the-badge)](https://github.com/tbd/tbd)
[![Made with JSDoc2md](https://img.shields.io/badge/uses-tbd-00838f.svg?style=for-the-badge)](https://github.com/tbd/tbd)
[![Made with JSDoc](https://img.shields.io/badge/made_with-tbd-00695c.svg?style=for-the-badge&logo=prettier&logoColor=757575&labelColor=616161)](https://github.com/tbd/tbd)

</p>

---


# @kb


{{description}}


<br />


## Getting Started


### Install

```bash
% git clone git@github.com:keithboice/kb.git

% cd kb

% npm install
```

### Develop

```bash
% npm run dev
```

### Test

```bash
% npm run test
```

### Documentation

```bash
% npm run docs
```

### Production

```bash
% npm run start
```

<br />


## Documentation


<details>
<summary><strong>Details</strong></summary>


<br />

{{jsdocs}}

<br />


</details>


## Coverage


<details>
<summary><strong>Details</strong></summary>


<br />

{{coverage}}

<br />


</details>


## Changelog


<br />

{{changelog}}

<br />

---

Reference: [Code of Conduct](https://github.com/keithboice/kb/CODE_OF_CONDUCT.md) | [Contributing](https://github.com/keithboice/kb/CONTRIBUTING.md)
| [Issues](https://github.com/keithboice/kb/issues)
| [Pull Requests](https://github.com/keithboice/kb/pulls) | [License](https://github.com/keithboice/kb/LICENSE) | [Security](https://github.com/keithboice/kb/SECURITY.md)

Getting Help: [Discussions](https://github.com/keithboice/kb/discussions)
| [API Docs](https://github.com/keithboice/kb/docs)
| [Wiki](https://github.com/keithboice/kb/wiki)
